<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SALIDAS JS</title>
</head>
<body>
    <center>
        <h1>TALLER MANEJO DE SALIDAS JS</h1>
        <br></br>
        <script>
            //Asignacion
            let mensaje="VAMOS A SEGUIR APRENDIENDO JAVASCRIP";
            let nombre_std="Laura Toquica";
            //SALIDA
            alert(menssaje"\n"+nombre_std);
            confirm("PULSE TECLA PARA CONTINUAR....");
            document.write(mensaje+"<br>"+nombre_std);
            console.log(mensaje+" "+nombre_std);

        </script>
    </center>
</body>
</html>